.site-deep{
  margin-left:30px;
  .deep-main,.day-select,.deep-content,.deep-content-item,.deep-buy{
    margin-top:20px;
  }
  .list-group{
    .list-group-item{

      color:black;
    }
    a.active{
      background:#9a2929;
      color:white;
    }
  }

  .deep-content-item{
    background: #eee5dd;
    width:100%;
    div{
      margin:10px;
    }
  }
  .select{
    background: #eee5dd;
    padding: 5px 20px 5px 20px ;
    font-size: 20px;
    a{
      color:black;
    }
  }
  li.active{
    background: #9a2929;
    a{
      color:white;
      text-decoration: underline;
    }
  }
  .deep-buy{
    padding-right:0;
    border-bottom-style:solid;
    border-left-style:solid;
    border-width:2px;
  }
}