.site-map{
  margin-top:100px;
  height:800px;
  #amap {
    width: 100%;
    margin:0 auto;
    height: 800px;
  }
  .marker-number{
    text-align:center;
    color:red;
    width:19px;
    height:33px;
    background:url("/images/mark_bs.png");
    background-size:contain;
    background-repeat: no-repeat;
  }

  .select{
    background: #eee5dd;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    width:16%;
    text-align: center;
    a{
      color:black;
    }
  }
  .feiyi{
     width:50%;
   }
  li.active{
    background: #9a2929;
    a{
      color:white;
      text-decoration: underline;
    }
  }
  .media-body{
    margin-left:5px;
    span{
      color:black;
    }
    span.orange{
       color:orange;
    }
  }
  .map-detail{
    .media{
      border-style:solid;
      border-color:white;
      padding:0;
      background: #e7dddd;
      margin-top:10px;
    }
  }
  .misc-container,.feiyi-container{
    padding:0;
  }
}