.site-map{
  margin-top:100px;
  height:800px;
  .btn{
   padding: 10px 20px;
  }

  #list0,#list1,#list2{
    margin-top: 20px;
    float: left;
  }
  #content,#content1,#content2{
    display:none;
    font-size: 20px;
    color:red;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  #list0:hover #content{
     display:block;
   }
  #list1:hover #content1{
    display:block;
  }
  #list2:hover #content2{
      display:block;
  }
  .items{
    list-style-type: none;
  }
  #amap {
    width: 100%;
    margin:0 auto;
    height: 800px;
  }
  #table0 table{
    table-layout: fixed;
    border: 3px solid black;
    border-collapse: collapse;
    width:100%;
  }
  #table0 table td,th{
    border: 1px solid black;
  }
  .marker-number{
    text-align:center;
    color:red;
    width:19px;
    height:33px;
    background:url("/images/mark_bs.png");
    background-size:contain;
    background-repeat: no-repeat;
  }
}